<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="promotionalmessages" frontName="promotionalmessages">
            <module name="Wallsandfloors_PM" />
        </route>
    </router>
</config>